*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.header-flex{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-item{
    padding: 13px;
}
.header-item:hover{
    background: lightblue;
  
}
.header-link{
    color: darkcyan;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header-link:hover{
    color: black;
}
.header-title{
    color: darkblue;
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header-img{
    margin: 10px;
}
.main{
    background-image: url(./images/IMAGE\ \(13\).png);
    background-size: cover;
    background-repeat: no-repeat;
}
.main-flex{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.main-title{
    color: whitesmoke;
    margin-bottom: 3px;
}
.main-title:hover{
    color: black;
    text-decoration: underline;
    transition: 0.5s;
}
.main-img{
    width: 50px;
    height: 3px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.main-text{
    color: darkslategrey;
}
.main-text:hover{
    color: brown;
    transition: 0.6s;
    text-decoration:olive;
}
.box{
    background-color: #FEFEC9;
}
.box-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-img{
    width: 40px;
    position: relative;
    top: -20px;
}
.box-text{
    width: 700px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 15px;
    line-height: 23px;
    color: #47474F;
}
.box-text:hover{
    text-decoration: underline;
    color: darkblue;
    transition: 0.6s;
}
.box-btn{
    color: #47474F;
    padding: 12px;
    background-color:#FEFEC9 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
}
.char{
    background-color: whitesmoke;
}
.char-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.char-top{
    margin-top: 30px;
    align-items: center;
    text-align: center;
}
.char-title{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #483d8b;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.char-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.char-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: char;
    animation-duration: 1.4s;
    animation-direction: alternate-reverse;
    animation-iteration-count: 1;
}
.char-item{
    margin: 10px;
}
.char-img{
    background: #000;
    color: #000;
    padding: 5px;
    margin-bottom: 10px;
}
.char-image{
    padding: 20px 60px;
    background: #838996;
    opacity: 0.7;
}
.char-text{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkgoldenrod;
}
.char-subtext{
    width: 300px;
    text-align: center;
    line-height: 23px;
    color: darkcyan;
}
.active-list{
    display: block;
}
.non-active-list{
    display: none;
   
}
@keyframes char{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(80px);
    }
}